@import '../../styles/vars.scss';


.SampleCard {
    width: 500px;
    height: 800px;
    border-radius: 10px;
    box-shadow: $shadow 0px 5px 15px;
    display: inline;
    text-align: center;
    // flex-direction: column;
    // justify-content: left;
    align-items: center;

    .editor {
        text-align: left;
        margin: auto;
        position: relative;
        width: 450px;
        height: 500px;
        background-color: azure;
        border-radius: 10px;
    }

    .editorPlaceholder {
        // padding: 0;
        color: #999;
        overflow: hidden;
        position: absolute;
        top: 15px;
        left: 10px;
        user-select: none;
        font-size: 15px;
        pointer-events: none;
    }

    .editorInput {
        position: relative;
        font-size: 15px;
        // padding: 10px 10px;
        top: 15px;
        left: 10px;
        outline-width: 0;
        border: none;
        resize: none;
        height: 100%;
    }

    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
    }


}