@import '../../styles/vars.scss';

.CardCarousel {
    .card {
        position: absolute;
        // left: calc(1080px/2 + 500px/2);
        aspect-ratio: 5 / 7;
        width: 22vw;
        // height: 700px;
        border-radius: 20px;
        box-shadow: $shadow 0px 5px 15px;
        text-align: center;
        align-items: center;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.06);
        
    }

}